
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Titan+One&display=swap');
    
    .sobre{
        background-color: #232546;
        border-radius:35px;
    }

    .c {
        font-family: 'Aldrich', sans-serif;
        text-decoration-line: none;
        color: white !important;
    }
    a{
        text-decoration-line:none;
    }

    .comec-button {
        width: 150px;
        height: 50px;
        border: 1px solid white;
        background: transparent;
        border-radius: 40px;
        font-size: 20px;
        color: white !important;
        font-family: 'Titan One', cursive;
    }
</style>


<div class="container-fluid">
    <div class="col-md-12 d-flex justify-content-between">
        <div class="col-md-6 d-flex flex-column sobre p-3">
            <div class="text-center pt-3">
                <h1 class="text-white c">Portifólio Thiago Almeida</h1>
            </div>
            <div class="c text-center mt-3">
                <h5>Dentro deste portifólio web contém todas tecnologias de desenvolvimento de sistemas que eu tenho experiência, 
                    cada módulo sendo explicado e documentado, deixando claro como executo meu trabalho, e procuro desenvolver 
                    com excelência cada rotina e atividade feita. Aproveite!</h5>

            </div>
            <div class="comec-button d-flex align-items-center justify-content-center mt-3 p-3">
                <a class="mt-1">
                    <h4 class="c">Começar!</h4>
                </a>
            </div>
        </div> 

        <div class="col-md-6 d-flex justify-content-end">
            <img class="astr" src="~/img/astronauta_pc 1.png" width="70%"/>
        </div>
    </div>
    <div class="col-md-12 d-flex mt-4">
        <div class="c col-md-3 m-2">
            <p>FrontEnd</p>
            <div class=" sobre p-3">
                <div class="col-md-4 bg-white rounded-circle d-flex align-items-center justify-content-center">
                    <img src="~/img/Angular_full_color_logo 1.png" />
                </div>
            </div>
        </div>
        <div class="c col-md-3 m-2">
            <p>BackEnd</p>
            <div class=" sobre p-3">
                <div class="col-md-4 bg-white rounded-circle d-flex align-items-center justify-content-center">
                    <img src="~/img/Csharp_Logo.png"  width="90%"/>
                </div>
            </div>
        </div>
        <div class="c col-md-3 m-2">
            <p>Infraestrutura</p>
            <div class=" sobre p-3">
                <div class="col-md-4 bg-white rounded-circle d-flex align-items-center justify-content-center">
                    <img src="~/img/microsoft-iis-logo.png" width="99%" />
                </div>
            </div>
        </div>
        <div class="c col-md-3 m-2">
            <p>Versionamento</p>
            <div class="sobre d-flex align-items-start p-3">
                <div class="col-md-4 bg-white rounded-circle d-flex align-items-center justify-content-center pb-3">
                    <img src="~/img/Microsoft-Azure-DevOps-logo.png" width="99%" class="mt-2" />
                </div>
                <div class="ms-3">
                    <p>Teste</p>
                </div>
            </div>
        </div>
    </div>
</div>
